@font-face {
    font-family: Leelawadee;
    src: url('/build/fonts/LEELAWAD.TTF'), 
         url('/build/fonts/LEELAWDB.TTF');
}
         
@font-face {
    font-family: Silka;
    src: url('/build/fonts/silka-regular-webfont.ttf');
}