.ml-2{
    margin-left: 2rem;
}

.cl-white{
    color: #fff ;
}
.cl-grey{
    color:#545454;
}

.bg-secondary{
    background-color: #131313 !important;
}

.c-white{
    color: #fff;
}
.c-black{
    color: #0A192F;
}