@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

$pricipal: #0A192F;
$grey: #545454;
$aquamarine: #60C2A5;
$gold: #B28550;

$fuente_principal:'Leelawadee', sans-serif;
$fuente_secundaria:'Silka', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$ani-speed: 2s;
$ani-delay: 1s;