.about{
    
    .background-aboutme{
        background-image: url(../../../build/img/aboutme.png);
        background-color: #fff;
        // position: relative;
        // z-index: 100;
        height: 100vh;
        background-position-x: 30%;
        background-repeat: no-repeat;
        background-size:cover 15rem ;
        // width: 100%;
    }
    @media (min-width:768px) {
        .background-aboutme{
            background-position: center;

        }
    }
    
    .bottom-fade{
        width: 100%;
        top: 140%;
        height: 60%;
        float: left;
        position: absolute;
        z-index: 23;
        // background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 30%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
        background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    }

    .text-about{
        // background-color: black;
        padding: 0 3rem;
        font-size: 1rem;
        position: relative;
        top: -15rem;
        z-index: 24;
        
        p{
            max-width: 80rem;
            text-align: center;
            margin: 0 auto;
            color: white;
            line-height: 4rem;
        }
        p span{
            font-weight: bold;
            background-color: transparent !important;
            
        }
        .text-normal-background{
            background-color: black;
            margin-bottom: 2.5rem;
        }
    
    }

}