.arg-p, 
.language{
   display: none;
}


@media(min-width: $tablet){
    .arg-p,
    .language{
        display: block;
        font-size: 1.8rem;
    }
}


.logo{
    height: 4rem;
    width: 14rem;
    margin-left: 2rem;
}
.logo-ff {
    position: fixed;
    left: 50%;
    top: 2rem;
    img{
        width: 5rem;
        height: 100%;
    }

}
 .navegacion{
     margin-right: 2rem;
     a{
         
         font-weight: 700;
     }
 }

 
.social-nav{
    width: 20px;
    top: 50vh;
    transform: translate(0, -50%);
    right: 40px;
    position: fixed;
    z-index: 25;
    // a{
    //     color: $grey;
    // }
    a:hover{
        color: $gold;
    }
}


.hero{
    background-image: url(/build/img/Heade.svg);
    background-color: #fff;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


    // max-width: 860px;
    // margin: 0 auto;
    // padding-left: 80px;
    // padding-right: 80px;
    // position: relative;

    

    .contenido-hero{
        margin: 0 2rem;
        p{
            text-align: center;
            font-size: 4rem;
            font-weight: 800;
        }
        .dev-text{
            font-family: $fuente_secundaria;
            font-size: 2rem;
            font-weight: 500;
        }

         .welcome-text{
           color: $gold;
        }
        
    }
    
    @media(min-width:768px){
        .contenido-hero{
            // margin: 0;
            p{  
                font-size: 7.2rem;
            }
            .dev-text{
                letter-spacing: 0.5rem;
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }

}

// Flechas
.arrow {
    opacity: 0;
    position: absolute;
    left: 48%;
    top: 90%;
    transform-origin: 90% 90%;
    transform: translate3d(-90%, -90%, 0);
}
@media(min-width:768px){
    .arrow{
        left: 50%;
    }
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: rgb(19, 18, 18);
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
